section:hover{
    transition: .8s;
    box-shadow: 0 4px 40px 0 #EEFF41   , 0 2px 40px 0 #EEFF41   ;
}

main > :first-child {
    display: none;
}
select{
    padding: 10px;
  margin-left: 28%;
  font-family: 'Merienda', cursive;
  font-size: 20px;
  width: 500px;
  padding-left: 130px;
  background: linear-gradient(90deg,#80DEEA 0%,  #E0F7FA 100%); 

}

select:hover{
    transition: .8s;
    background: linear-gradient(90deg,#EEFF41 0%,  #FFF9C4 100%); 
}

#sortByTitle, #sortByHorns{
    font-family: 'Merienda', cursive;
    width: 200px;
    padding: 10px;
    background-color: #E0F7FA ;
   border-radius: 5px;
  }
   


#buttons, #sortButtons{
    padding-top: 25px;
  text-align: center;
    margin-left: -10%; 
}

 #Firstpage:hover, #SecondPage:hover ,#sortByHorns:hover, #sortByTitle:hover{
     /* background-color: #E0F7FA; */
    color: black;
    font-weight: bolder;
    transition: .2s;
    box-shadow: 
          0 0 20px rgba(207, 241, 12, 0.74),                 
         0 0 18px #d8e709e0;              
      
     opacity: 0.8px;
     background:
  linear-gradient(135deg, #ffffff 25%, transparent 15%) -20px 0,
  linear-gradient(225deg, #ffffff 25%, transparent 15%) -20px 0,
  linear-gradient(315deg, #ffffff 25%, transparent 15%),
  linear-gradient(45deg, #ffffff 25%, transparent 15%);
background-size: 100px 100px;
background-color:  rgba(233, 219, 32, 0.431);
        
    } 
    
    #Firstpage ,#SecondPage{
        font-family: 'Merienda', cursive;
        width: 150px;
        padding: 10px;
        background-color: #E0F7FA ;
       border-radius: 5px;
    }
    
  
